In [5]:
import pandas as pd
import sys

In [13]:
sys.path.append('C:/Users/ok/Desktop/10 Acadamy/week_1/week_1/data/script')

In [16]:
from data_extraction import *

In [17]:
engine = data_extraction()

In [21]:
data = get_dataframe(engine, 'public.xdr_data')

AttributeError: 'OptionEngine' object has no attribute 'execute'